:root {
  // Colors
  --color-primary: #082035;
  --color-primary--light: #123450;

  --color-secondary: #cfff70;
  --color-secondary--light: #e4fcb6;

  --color-white: white;

  --color-black: black;

  --color-grey: grey;
  --color-grey--dark: #535252;

  // Box shadows
  --shadow-white: 0 0.34rem 1rem 0.5rem rgba(255, 255, 255, 0.8);
  --shadow-white--light: 0 0.1rem 0.5rem 0.3rem rgba(255, 255, 255, 0.4);
  --shadow-dark: 0 0.34rem 1rem 0.5rem rgba(0, 0, 0, 0.4);
}
