.header__component--about-me-box {
  padding: 0.8rem;
  height: 100%;
  width: 100%;

  @include respond(tab-land) {
    padding: 0.8rem 0;
  }

  @include respond(phone) {
    text-align: center;
    background-color: var(--color-primary--light);
    border-bottom: 0.5rem solid var(--color-primary);
  }

  .about-me {
    background-color: var(--color-primary);
    background-image: url("../img/Radiant-Gradient.svg");
    height: 100%;
    width: 100%;
    padding: 2rem;
    color: var(--color-white);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-gap: 1rem;
    align-items: center;

    @include respond(phone) {
      background-image: none;
      background-color: var(--color-primary--light);
    }

    h3 {
      display: flex;
      align-items: center;

      svg {
        width: 2.25rem;
        height: 2.25rem;
        margin-right: 1rem;
        fill: var(--color-secondary);
      }

      @include respond(phone) {
        justify-self: center;
      }
    }

    p {
      font-size: 1.35rem;
      height: 100%;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-overflow: ellipsis;
      line-height: 1.4;
      display: inline;

      a {
        color: white;
        transition: all 0.1s;
        // background-color: yellow;

        &:hover {
          color: var(--color-secondary);
        }

        &.highlighted {
          color: var(--color-secondary);
          &:hover {
            color: white;
          }
        }
      }

      @include respond(desktop) {
        font-size: 1.5rem;
      }

      @include respond(phone) {
        font-size: 1.2rem;
      }
    }
  }
}
